<div class='col-md-6 col-md-offset-3'>
  <form ng-submit='pwreset()' name='pwresetForm'>
    <div class='form-group'>
      <label for='email'>Email</label>
      <div class='input-group'>
        <span class="input-group-addon">@</span>
        <input id='email' class='form-control' name='email'
          disabled ng-model='email' type='email' required>
      </div>
    </div>
    <div class='form-group'>
      <label for='password'>Новый пароль</label>
      <input id='password' class='form-control' name='password'
        placeholder='Прямо вот тут'
        ng-model='password' type='password' required>
    </div>
    <div class='form-group'>
      <label for='password2'>Повтори пароль</label>
      <input id='password2' class='form-control' name='password2'
        placeholder='И снова он'
        ng-model='password2' type='password' required>
    </div>
    <input type='submit' value='Сбросить пароль' class='btn btn-primary'
      ng-disabled='pwresetForm.$invalid'>
  </form>
</div>
