
//$body-bkg: #2f343a;
$body-bkg: #000000;
$body-text: #ffffff;
$nav-bkg: #5c5;
$sidebar-bkg: #161616;
$link: #5cc;
$news-bkg: #20262c;
$cat-bkg: #3e5edb;
$chall-bkg: #2444c1;
$solved-bkg: #1c3596;
$tag-border: #42a5f5;
$tag-bkg: #1e88e5;
$panel-heading-bkg:#27326d;
$panel-body-bkg: #37444d;
$chall-text: #ffffff;
$sidebar-text: #000;
$sidebar-active-text: #ffffff;

body {
  background-color: $body-bkg;
  color: $body-text;
}

.navbar-default .navbar-nav>li>a:hover {
  background-color: $link;
}

.navbar-default .navbar-nav>li>a:focus {
  background-color: #00dfff;
}

a.list-group-item:hover {
  background-color: #00dfff;
  color: white;
}


a.list-group-item {
  font-family: "Lucida Console",Monaco,monospace;
}

a.list-group-item:hover {
  color: black;
}

.navbar-default .navbar-brand {
  color: #000000 !important;
  font-family: Helvetica, sans-serif;
}

.navbar-default .navbar-nav>li>a {
  color: #000000 !important;
  font-family: "Lucida Console",Monaco,monospace;
}

.navbar-default {
  background-color: $nav-bkg;
  color: #000000 !important;
}

.left-sidebar-background {
  background-color: $sidebar-bkg;
}

a {
    &.list-group-item {
      background-color: $nav-bkg;
      color: $sidebar-text;
    }

    &.list-group-item.active,
    &.list-group-item.active:hover,
    &.list-group-item.active:focus {
      background-color: $link;
      border-color: $link;
      color: black;
    }
}

#news-box {
    background-color: $news-bkg;
}

input.form-control[readonly] {
    background-color: #fff;
}

#loading-overlay {
    background-color: #000;
}

#scoreboard>tbody>tr:nth-child(odd)>td{
  background-color: $panel-body-bkg;
}

/* Challenge submission */
.panel-primary>.panel-heading{
  background-color: $panel-heading-bkg;
}

.chall-submit[disabled], .chall-submit{
  background-color: $panel-heading-bkg;
}

.chall-well, .chall-panel, .chall-panel-body{
  background-color: $panel-body-bkg;
}

/* Jeopardy grid */
.jeopardy-cat {
  background: $cat-bkg;
}

.jeopardy-chall {
    & .front,
    & .back {
      background: $chall-bkg;
      color: $chall-text;
    }
    & .front{
      $dummy: '.chall-dummy:first-child:last-child';
      .chall-tag, #{$dummy} {
        border: 2px solid $tag-border;
        background-color: $tag-bkg;
      }
    }

    &.solved .card {
      background: $solved-bkg;
    }
}
